:root{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: var(--dark-teal);
    font-size: 64px;
}

.scrolling-container {
    width: 1920px;
    height: 2700px;
    background: linear-gradient(180deg, var(--off-white) 0%, var(--seafoam) 40%, var(--blue-grey) 60%, var(--dark-blue) 100%);
    overflow: hidden;
    z-index: 1;
}

.content-wrapper {
    width: 1920px;
    height: 1080px;
}

/* Bubbles */

#bubbles-wrapper{
    position: absolute;
    transform: scale(1.05);
    filter: url(#turbulence);
    top: 0;
    left: 0;
    z-index: -1;
}

.bubble{
    width: 10px;
    position: absolute;
    z-index: -100;
}

/* Break aka Main Screen */

.break {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.break > .break-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.break > div:first-child {
    align-items: center;
}

.break > div:last-child {
    padding-right: 25px;
}

.flavor-text {
    font-family: glock;
    font-size: 96px;
    color: var(--dark-blue);
}

.up-next-wrapper > .header {
    margin-top: 50px;
}

.up-next-wrapper > .header {
    font-weight: 500;
    font-size: 84px;
    color: var(--dark-blue);
    width: fit-content;
}

.up-next-wrapper > .detail {
    font-weight: 700;
    line-height: 110%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.up-next-wrapper > .detail > fitted-text:first-child {
    margin-right: .45ch;
}


.up-next-wrapper > .stages-wrapper {
    display: flex;
    margin-top: 10px;
}

.up-next-wrapper > .stages-wrapper > .stage {
    width: 240px;
    height: 150px;
    padding-left: 15px;
    background-size: cover !important;
    border: 4px solid var(--blue-grey);
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: var(--seafoam);
    font-weight: 700;
    font-size: 32px;
    background-position: center;

    --gradient: linear-gradient(90deg, var(--blue-grey) -25%, #00000000 200%);
}

.up-next-wrapper > .stages-wrapper > .stage:not(:last-child) {
    margin-right: 6px;
}

.up-next-wrapper > .stages-wrapper > .more-stages {
    width: 80px;
    padding: 0;
    font-size: 48px;
    font-weight: 500;
    color: var(--seafoam);
    background: var(--dark-blue);
    justify-content: center;
}

.up-next-wrapper > .timer {
    font-weight: 700;
    font-size: 48px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.up-next-wrapper > .timer > div > div > img{
    height: 48px;
    width: auto;
    margin-right: .5ch;
}

.break-bottom-bar {
    width: 1920px;
    height: 150px;
    top: calc(1080px - 155px);
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.break-bottom-bar > .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 150px;
}

.break-bottom-bar > .wrapper > .group{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 36px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.break-bottom-bar > .wrapper > .group > img{
    height: 38px;
    width: 100%;
    margin-right: .75ch;
}

.break-bottom-bar > .wrapper > .group > .caster-wrapper{
    display: flex;
}

.break-bottom-bar > .wrapper > .group > .caster-wrapper:not(:first-of-type){
    margin-left: 1.8ch;
}

/* Teams/Stages Screen */

.game-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(1080px - 220px);
}

.teams-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    z-index: 1;
}

.team-box{
    width: 450px;
    height: 610px;
    background: linear-gradient(0deg, var(--dark-blue) 0%, var(--blue-grey) 175%);
    outline: 5px solid var(--seafoam);
    border-radius: 30px;
    transform-style: preserve-3d;
}

.team-box > .name {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 30px;
    font-size: 72px;
    color: white;
    z-index: 3;
}

.team-box > .image {
    z-index: 2;
    position: absolute;
    --angle: 90deg;
    -webkit-mask: linear-gradient(var(--angle), rgba(0,0,0,.65), rgba(0,0,0,0));
    object-fit: cover;
    height: 150px;
    width: 200px;
    border-radius: 30px 0 0 0;
}

.team-left::before{
    content: url('../assets/svg/team-bubbles-top-left.svg');
    position: absolute;
    transform: translate(-86px, -27px);
}

.team-left::after{
    content: url('../assets/svg/team-bubbles-bottom-left.svg');
    position: absolute;
    transform: translate(-43px, -56px);
}

.team-right::before{
    content: url('../assets/svg/team-bubbles-top-right.svg');
    position: absolute;
    transform: translate(365px, -30px);
}

.team-right::after{
    content: url('../assets/svg/team-bubbles-bottom-right.svg');
    position: absolute;
    transform: translate(366px, -67px);
}

.team-right > .image{
    transform: translateX(250px);
    border-radius: 0 30px 0 0;
    --angle: 270deg;
}

.team-left > .name {
    justify-content: flex-end;
}

.team-box > .divider {
    width: 100%;
    height: 4px;
    --angle: 90deg;
    background: linear-gradient(var(--angle), var(--seafoam) 0%, #00000000 90%);
}

.team-right > .divider {
    --angle: 270deg
}

.team-box > .roster {
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 30px;
}

.team-left > .roster {
    align-items: flex-end;
}

.team-box > .roster > .player {
    font-weight: 700;
    color: var(--seafoam);
    font-size: 40px;
    height: 53px;
}

.teams-wrapper > .score{
    width: 300px;
    padding: 0 50px 0 50px;
    text-align: center;
}

.teams-wrapper > .score > .score-text{
    display: flex;
    justify-content: center;
}

.teams-wrapper > .score > .score-text > *{
    font-family: glock;
    color: white;
    font-size: 96px;
    width: .8em;
}

.teams-wrapper > .score > .score-info{
    font-weight: 700;
    font-size: 32px;
    color: var(--seafoam);
}

.game-info-wrapper > .stages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    padding: 0 100px;
    font-size: 38px;
}

.game-info-wrapper > .stages-wrapper > .stage {
    flex: 1 1 0px;
    height: 580px;
    width: 100%;
    max-width: 365px;
    min-width: 200px;
    padding: 15px;
    margin: 0 15px;
    background-size: cover !important;
    border-radius: 30px;
    outline: 5px solid var(--seafoam);
    background-position: center !important;
    transition-duration: .35s;
    position: relative;

    --gradient: linear-gradient(0deg, var(--dark-blue) -10%, #00000000 110%);
}

.game-info-wrapper > .stages-wrapper > .stage:first-child::after {
    content: url('../assets/svg/stage-bubbles-left.svg');
    position: absolute;
    top: -81px;
    left: -83px;
}

.game-info-wrapper > .stages-wrapper > .stage:last-child::after {
    content: url('../assets/svg/stage-bubbles-right.svg');
    position: absolute;
    bottom: -57px;
    right: -73px;
}

.game-info-wrapper > .stages-wrapper > .next {
    padding: 65px 35px 15px 15px;
}

.game-info-wrapper > .stages-wrapper > .finished {
    --gradient: linear-gradient(0deg, var(--dark-blue) 0%, #00000000 150%), linear-gradient(180deg, var(--dark-blue) -60%, #00000000 40%);
} 

.game-info-wrapper > .stages-wrapper > .stage:first-child {
    margin-left: 0;
}

.game-info-wrapper > .stages-wrapper > .stage:last-child {
    margin-right: 0;
}

.game-info-wrapper > .stages-wrapper > .stage > .winner {
    position: absolute;
    font-size: 1em;
    font-weight: 700;
    color: white;
    overflow-wrap: anywhere;
}

.game-info-wrapper > .stages-wrapper > .stage > .info-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 100%;
}

.game-info-wrapper > .stages-wrapper > .stage > .info-container > .mode {
    font-size: 1em;
    font-weight: 700;
    color: var(--seafoam);
}

.game-info-wrapper > .stages-wrapper > .stage > .info-container > .map {
    font-size: 1.3em;
    line-height: 110%;
    color: white;
}

.bottom-bar {
    display: flex;
    position: absolute;
    top: 2490px;
    width: 1600px;
    height: 136px;
    outline: 5px solid var(--seafoam);
    border-radius: 30px;
    background: var(--blue-grey);
    z-index: 1;
}

.bottom-bar > .half {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

.bottom-bar > .left > .wrapper {
    display: flex;
    align-items: center;
    font-size: 56px;
}

.bottom-bar > .left > .wrapper > img{
    height: 68px;
    width: auto;
    margin-left: 50px;
    margin-right: 30px;
}

.bottom-bar > .left > .wrapper > .stack{
    display: flex;
    flex-direction: column;
    line-height: 110%;
}

.bottom-bar > .right{
    justify-content: right;
    background: linear-gradient(90deg, #00000000 25%, var(--dark-blue) 65%, var(--dark-blue) 100%);
    border-radius: 0 30px 30px 0;
}

.bottom-bar > .right > .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bottom-bar > .right > .wrapper > .text, .bottom-bar > .right > .wrapper > .team{
    margin-right: 50px;
}

.bottom-bar > .right > .bar-teams {
    flex-direction: column;
}

.bottom-bar > .right > .bar-teams > img {
    width: 250px;
    height: 136px;
    position: absolute;
    object-fit: cover;
    bottom: 0px;
    -webkit-mask-image: linear-gradient(270deg, rgba(0,0,0,.0) 0%, rgba(0,0,0,.3) 50%, rgba(0,0,0,0)100%);
    mask-image: linear-gradient(270deg, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,0)100%);
}

.bottom-bar > .right > .bar-teams > .img-left {
    right: 260px;
}

.bottom-bar > .right > .bar-teams > .img-right {
    right: 0px;
}

.bottom-bar > .right > .bar-teams > .names-wrapper > .team {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.bottom-bar > .right > .bar-teams > .names-wrapper > .team > .name {
    font-size: 56px;
    z-index: 3;
    line-height: 110%;
    margin-right: 25px;
}

.bottom-bar > .right > .bar-teams > .names-wrapper > .team > .score {
    font-size: 56px;
    font-weight: 700;
    line-height: 110%;
    color: var(--seafoam);
    width: 1ch;
    z-index: 3;
    text-align: center;
}

.bottom-bar > .right > .next-stage > .bg-image {
    width: 620px;
    height: 136px;
    position: absolute;
    border-radius: 0 30px 30px 0;
    -webkit-mask-image: linear-gradient(270deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 50%, rgba(0,0,0,0)100%);
    mask-image: linear-gradient(270deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 50%, rgba(0,0,0,0)100%);
    object-fit: cover;
}

.bottom-bar > .right > .next-stage > .text {
    text-align: right;
    z-index: 1;
}

.bottom-bar > .right > .next-stage > .text > .subtext {
    font-size: 40px;
    font-weight: 700;
    color: var(--seafoam);
    line-height: 110%;
}

.bottom-bar > .right > .next-stage > .text > .stage-name {
    font-size: 64px;
    line-height: 110%;
}