:root{
    --off-white: #f3f9fa;
    --seafoam: #cef7e7;
    --dark-teal: #335563;
    --blue-grey: #4d6c72;
    --dark-blue: #191a34;

    user-select: none;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    outline: solid 2px black;
}

@font-face {
    font-family: glock;
    src: url(../assets/fonts/glock.ttf);
}

@font-face {
    font-family: dosis;
    src: url(../assets/fonts/dosis.ttf);
}

@font-face {
    font-family: sourcesanspro;
    src: url(../assets/fonts/sourcesanspro.ttf);
}

.pronouns-dark, .pronouns-light{
    font-size: .6em;
    padding: 0 .2em;
    height: 1.05em;
    line-height: 1em;
    border-radius: .2em;
    font-family: sourcesanspro;
    transform: scaleX(.9) translateY(-.125em);
    transform-origin: left;
    width: fit-content;
}

.pronouns-light {
    background: var(--seafoam);
    color: var(--dark-blue);
}

.pronouns-dark {
    background: var(--dark-teal);
    color: white;
}